
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

body{
    font-family: 'Nunito', sans-serif ;
}


.mathBox {
    /* margin-top: 20px; */
    /* background: #96d7eb; */
    padding: 25px;
}
.showBoard{
    width: 70%;
    margin: 20px auto;
    height: 180px;
    background-color: #abe4ff;
    border: 3px solid #51425f;
    border-radius: 5px;
}

.dummyBoard{
    width: 70%;
    margin: 20px auto;
    background-color: #002c2b;
    color: white;
    text-align: center;
}

.answerDiv1{
    border: 3px solid teal;
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.answerDiv{
    padding: 15px;    
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 20px auto;
}
#startBtn{
    outline: none;
    border: 3px solid #002c2b;
    color: #002c2b;
    font-weight: 800;
    padding: 10px 30px;
    margin: auto;
    transition: all 0.3s;
}

#startBtn:hover{
    background-color: orange;
}